@page
@model RazorDropDown.Pages.Session.IndexModel
@{
}
<h1>Session</h1>

<p>Session variables store data on the server that persists across a user's session, 
    accessible throughout their visit. In Razor Pages, session variables are often used for data 
    that should be retained temporarily across multiple page requests, 
    such as user-specific shopping cart contents or authentication state.</p>

<p>A user session is a period during which a user interacts with a web application, 
    typically lasting from the moment they  access the application until they are 
    inactive for a certain duration. The session is tracked on the server and is identified by a 
    unique session ID, 
    which is often stored in a cookie on the client’s browser.</p>


<form method="post">
    <div class="form-group">
        <label for="name">Enter your name:</label>
        <input type="text" id="name" asp-for="UserName" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Save Name in Session</button>
</form>

<a asp-page="Page2">Go to Page 2</a>
